npm-debug.log
*/*.7z
*/*.zip
**/bower_components/*
**/node_modules/*
task03/**
task04/node_modules/*
task04/css/*
task04/js/*
task04/components/scripts/*
task07/node_modules/*
task08/jQuery Basics Examples/*
